// анимация поднимет кнопку на 5пикселей вверх
  
@keyframes btnToUp
  0%
    opacity: 0
    transform: translateY(5rem)
  
  100%
    opacity: 1
    transform: translateY(0px)

// анимация двигает текст слева на право
@keyframes leftToRight
  0%
    opacity: 0
    transform: translateX(-10rem)
  
  80%
    transform: translateX(1rem)

  100%
    opacity: 1
    transform: translateX(0px)


// анимация двигает текст справа налево   
@keyframes rightToLeft
  0%
    opacity: 0
    transform: translateX(10rem)
  
  80%
    transform: translateX(-1rem)

  100%
    opacity: 1
    transform: translateX(0px)
 